<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SaiprakashSuit">
  <test thread-count="5" name="SaiPrakashTest">
  
 <classes>
 <class name="seleniumscripts.googleexample"></class>
 </classes>
  </test> <!-- SaiPrakashTest -->
  
 
</suite> <!-- SaiprakashSuit -->
